name = "img-mom"
compatibility_date = "2024-08-10"

account_id = ""

[vars]
TG_BOT_TOKEN = ""
TG_WEBHOOK_SECRET_TOKEN = ""
TG_BOT_OWNER_USERNAME = ""
TG_BOT_ALLOW_ANYONE = ""

R2_CUSTOM_DOMAIN = ""
B2_KEY_ID = ""
B2_SECRET_KEY = ""
B2_ENDPOINT = ""
B2_BUCKET = ""
B2_CUSTOM_DOMAIN = ""

[[kv_namespaces]]
binding = "KV_IMG_MOM"
id = ""

[[r2_buckets]]
binding = "R2_IMG_MOM"
bucket_name = ""
